<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Hello</title>
    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <!-- vue div -->
        <div id="app">
            <div class="wrapper">
                <!-- Title -->
                <h1>{{titleUnsplash}}</h1>

                <div class="output-img" :class="displayOutput">
                    <span>Photographer - {{phName}} {{phSurname}}</span>
                </div>

                <!-- Input -->
                <div class="input-img" :class="displayInput">
                    <!-- Name -->
                    <label for="ph-name">Nome:</label>
                    <input type="text" id="ph-name" v-model="phName">
                    <!-- Surname -->
                    <label for="ph-surname">Cognome:</label>
                    <input type="text" id="ph-surname" v-model="phSurname">
                    <!-- Print -->
                    <button @click="print">Print</button>
                </div>

                <!-- Images -->
                <div :class="classImg">
                    <img :src="srcImg" :alt="altText">
                </div>


            </div>
        </div>
    </div>
    <!-- Script -->
    <script src=" js/script.js">
    </script>
</body>

</html>